<template>

  <div class="container">
    <div class="is-flex">
      <b-field class="is-flex-grow-1">
        <b-input ref="input" type="text" v-model="newTaskText" @keydown.enter="addTask"/>
      </b-field>

      <b-button type="is-primary" @click="addTask">+</b-button>
    </div>

    <div>
      <template v-for="task in tasks" :key="task.id">
        <div :class="[task.completed?'has-background-info':'has-background-info-dark']"
             class="p-2 is-flex is-justify-content-space-between">
          <div>
            {{ task.text || '-' }}
          </div>
          <b-checkbox v-model="task.completed" />
        </div>
      </template>
    </div>
  </div>


</template>

<script>
export default {
  name: 'App',
  components: {},
  data: () => ({
    tasks: [],
    newTaskText: ''
  }),
  methods: {
    addTask() {
      if (this.newTaskText === '') return
      const task = {
        id: this.tasks.length + 1,
        text: this.newTaskText,
        created: Date.now(),
        completed: false
      }

      this.tasks.push(task)

      this.newTaskText = ''
      this.$refs.input.focus();
    }
  }
}
</script>

<style></style>
